env="staging"

# AWS
aws_region="us-east-1"
key_name="mykey"

# VPC
vpc_name="this"
cidr="10.100.0.0/16"
azs=["us-east-1a"]
public_subnets=["10.100.1.0/24", "10.100.2.0/24"]
private_subnets=["10.100.3.0/24", "10.100.4.0/24"]
enable_nat_gateway = true
enable_vpn_gateway = true

# db
database_name="yourdatabasename"
database_user="yourdatabaseuser"
database_password="yourdatabasepassword"
database_port="5432"